*~
._*
*.lock
*.log
!yarn.lock
!Pipfile.lock
!poetry.lock
*.DS_Store
*.swp
.sw*
.*.sw*
*.out
*.py[cod]
*.md~~
*.md~
/pelican.pid
/srv.pid
output/
__pycache__/
__cache__/
.vscode/
/themes/
/node_modules/
.venv/

# Local Netlify folder
.netlify
