{% extends "base.html" %}
{% if article.status != 'published' %}
  {% set GOOGLE_ADSENSE = '' %}
  {% set DISQUS_SITENAME = '' %}
{% endif %}

{% block meta %}
<meta name="author" content="{{ article.author.name }}" />
{% if article.description %}
<meta name="description" content="{{ article.description|striptags|escape }}" />
{% else %}
<meta name="description" content="{{ article.summary|striptags|escape }}" />
{% endif %}
{% if article.keywords %}
<meta name="keywords" content="{{ article.keywords|join(', ')|escape }}">
{% else %}
<meta name="keywords" content="{{ article.tags|join(', ')|escape }}">
{% endif %}

{% if article.translations -%}
<link rel="alternate" href="{{ SITEURL }}/{{ article.url }}" hreflang="{{ article.lang }}" />
{% for a in article.translations %}
<link rel="alternate" href="{{ SITEURL }}/{{ a.url }}" hreflang="{{ a.lang }}" />
{% endfor %}
{% endif %}

{% block canonical_rel %}
  {% if article.canonical_url %}
    <link rel="canonical" href="{{ article.canonical_url }}">
  {% else %}
    <link rel="canonical" href="{{ SITEURL }}/{{ article.url }}">
  {% endif %}
{% endblock %}

{% include "partial/og_article.html" %}

{% for key, value in GOOGLE_RECAPTCHA.forms_id.items() %}
  {% if article.slug == key %}
    {% include "partial/recaptcha.html" %}
  {% else %}
    {% set GOOGLE_RECAPTCHA = '' %}
  {% endif %}
{% endfor %}

{% endblock %}

{% block title %}{{ article.title|striptags|escape }} &#x007c; {% endblock %}

{% block addthis %}
{% if ADD_THIS is defined and ADD_THIS.activate == True and ADD_THIS.id and ADD_THIS.options.scripts_position.EntireWeb == False %}
<script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid={{ ADD_THIS.id }}" async="async"></script>
{% endif %}
{% endblock %}

{% block content %}
<article class="single">
  <header>
    {% if not ARTICLE_HIDE_TRANSLATION %}
      {% import 'partial/translations.html' as translations with context %}
      {{ translations.translations_for(article) }}
    {% endif %}
    <h1 id="{{ article.slug }}">{{ article.title }}</h1>
    <p>
      Di posting sejak: {{ article.date | locale_settings }}. Di dalam Kategori:
      {% for cat in article.categories or [article.category] %}
          {{ _('%(categories)s',
          categories='<a href="%s/%s">%s</a>%s'|format(SITEURL, cat.url, cat, ', ' if not loop.last)|safe) }}
      {% endfor %}
      {% if 'post_stats' in PLUGINS %}
        &#8226; {{ article.stats['read_mins'] }} min read
      {% endif %}
    </p>
    {% if article.modified %}
    <p>
      (Artikel ini di perbarui sejak: {{ article.modified | locale_settings }})
    </p>
    {% endif %}
  </header>
  {% if article.featured_image %}
    <img data-src="{{ article.featured_image }}" loading="lazy" {% if article.featured_image_width %}width="{{ article.featured_image_width }}"{% endif %} {% if article.featured_image_height %}height="{{ article.featured_image_height }}"{% endif %} style="display: block; margin: 0 auto;" id="{{ article.slug }}">
  {% elif article.cover %}
    <img data-src="{{ article.cover }}" loading="lazy" {% if article.cover_width %}width="{{ article.cover_width }}"{% endif %} {% if article.cover_height %}height="{{ article.cover_height }}"{% endif %} style="display: block; margin: 0 auto;" id="{{ article.slug }}" alt="">
  {% endif %}
  {% if GOOGLE_ADSENSE and GOOGLE_ADSENSE.ads.article_top %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle ads-responsive"
         data-ad-client="{{ GOOGLE_ADSENSE.ca_id }}"
         {% if GOOGLE_ADSENSE.ads.article_top.ad_layout %}
         data-ad-layout="{{ GOOGLE_ADSENSE.ads.article_top.ad_layout }}"
         {% endif %}
         {% if GOOGLE_ADSENSE.ads.article_top.ad_layout_key %}
         data-ad-layout-key="{{ GOOGLE_ADSENSE.ads.article_top.ad_layout_key }}"
         {% endif %}
         {% if GOOGLE_ADSENSE.ads.article_top.ad_format %}
         data-ad-format="{{ GOOGLE_ADSENSE.ads.article_top.ad_format }}"
         {% endif %}
         {% if GOOGLE_ADSENSE.ads.article_top.full_width_responsive %}
         data-full-width-responsive="{{ GOOGLE_ADSENSE.ads.article_top.full_width_responsive | lower }}"
         {% endif %}
         data-ad-slot="{{ GOOGLE_ADSENSE.ads.article_top.slot_id }}">   
    </ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  {% endif %}

  <div>
    {% if article.toc %}
    <nav class="toc">
      {{ article.toc }}
    </nav>
    {% endif %}
    {{ article.content }}
  </div>
  <div class="tag-cloud">
    <p>
      {% if article.tags %}
      {% for tag in article.tags %}
      <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
      {% endfor %}
      {% endif %}
    </p>
  </div>

  {% if ADD_THIS is defined and ADD_THIS.activate == True %}
  <div class="center social-share">
    <p>{{ _('Apakah kamu menyukai artikel ini? Kalau iya, bagikan artikel ini ke teman-teman kamu!') }}</p>
    {% if ADD_THIS.options.native_toolbox and ADD_THIS.options.native_toolbox.id %}
    <div class="addthis_native_toolbox_{{ ADD_THIS.options.native_toolbox.id }}"></div>
    {% endif %}
    {% if ADD_THIS.options.sharing_toolbox and ADD_THIS.options.sharing_toolbox.id %}
    <div class="addthis_sharing_toolbox_{{ ADD_THIS.options.sharing_toolbox.id }}"></div>
    {% endif %}
    {% if ADD_THIS.options.inline_share_toolbox and ADD_THIS.options.inline_share_toolbox.id %}
    <div class="addthis_inline_share_toolbox_{{ ADD_THIS.options.inline_share_toolbox.id }}"></div>
    {% endif %}
  </div>
  {% endif %}

  {% include "partial/neighbors.html" %}

  {% if article.related_posts %}
  <div class="related-posts">
    <h4>{{ _('You might enjoy') }}</h4>
    <ul class="related-posts">
    {% for related_post in article.related_posts %}
      <li><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></li>
    {% endfor %}
    </ul>
  </div>
  {% elif ADD_THIS is defined and ADD_THIS.id and ADD_THIS.activate == True %}
    {% if ADD_THIS.options.relatedposts_inline and ADD_THIS.options.relatedposts_inline.id %}
    <div class="addthis_relatedposts_inline_{{ ADD_THIS.options.relatedposts_inline.id }}"></div>
    {% endif %}
  {% endif %}

  {% if GOOGLE_ADSENSE and GOOGLE_ADSENSE.ads.article_bottom %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle ads-responsive"
         data-ad-client="{{ GOOGLE_ADSENSE.ca_id }}"
         {% if GOOGLE_ADSENSE.ads.article_bottom.ad_layout %}
         data-ad-layout="{{ GOOGLE_ADSENSE.ads.article_bottom.ad_layout }}"
         {% endif %}
         {% if GOOGLE_ADSENSE.ads.article_bottom.ad_layout_key %}
         data-ad-layout-key="{{ GOOGLE_ADSENSE.ads.article_bottom.ad_layout_key }}"
         {% endif %}
         {% if GOOGLE_ADSENSE.ads.article_bottom.ad_format %}
         data-ad-format="{{ GOOGLE_ADSENSE.ads.article_bottom.ad_format }}"
         {% endif %}
         {% if GOOGLE_ADSENSE.ads.article_bottom.full_width_responsive %}
         data-full-width-responsive="{{ GOOGLE_ADSENSE.ads.article_bottom.full_width_responsive | lower }}"
         {% endif %}
         data-ad-slot="{{ GOOGLE_ADSENSE.ads.article_bottom.slot_id }}">
    </ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  {% endif %}

  {% include "partial/disqus.html" %}
</article>
{% if DISQUS_SITENAME and DISQUS_COMMENT_COUNT == True %}
<script type="text/javascript">
  var disqus_shortname = '{{ DISQUS_SITENAME }}';
  (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = '//' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>
{% endif %}
{% endblock %}
