{% if 'jinja2.ext.i18n' not in JINJA_ENVIRONMENT.extensions and 'jinja2.ext.i18n' not in JINJA_EXTENSIONS %}
  {% macro _(msg) %}
    {{ msg % kwargs }}
  {% endmacro %}
{% endif %}

<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% if page in hidden_pages %}
    <meta name="robots" content="noindex, nofollow" />
  {% else %}
    <meta name="robots" content="{{ ROBOTS }}" />
  {% endif %}

  {% if GOOGLE_SITE_VERIFICATION is defined and GOOGLE_SITE_VERIFICATION is string %}
    <meta name="google-site-verification" content="{{ GOOGLE_SITE_VERIFICATION }}" />
  {% elif GOOGLE_SITE_VERIFICATION is defined and GOOGLE_SITE_VERIFICATION is iterable %}
    {% for tag_codes in GOOGLE_SITE_VERIFICATION %}
      <meta name="google-site-verification" content="{{ tag_codes }}" />
    {% endfor %}
  {% endif %}

  {% if BING_SITE_VERIFICATION is defined and BING_SITE_VERIFICATION is string %}
    <meta name="msvalidate.01" content="{{ BING_SITE_VERIFICATION }}" />
  {% elif BING_SITE_VERIFICATION is defined and BING_SITE_VERIFICATION is iterable %}
    {% for tag_codes in BING_SITE_VERIFICATION %}
      <meta name="msvalidate.01" content="{{ tag_codes }}" />
    {% endfor %}
  {% endif %}

  {% if COPYRIGHTED_SITE_VERIFICATION is defined and COPYRIGHTED_SITE_VERIFICATION is string %}
    <meta name="copyrighted-site-verification" content="{{ COPYRIGHTED_SITE_VERIFICATION }}" />
  {% elif COPYRIGHTED_SITE_VERIFICATION is defined and COPYRIGHTED_SITE_VERIFICATION is iterable %}
    {% for tag_codes in COPYRIGHTED_SITE_VERIFICATION %}
      <meta name="copyrighted-site-verification" content="{{ tag_codes }}" />
    {% endfor %}
  {% endif %}

  {% if USE_GOOGLE_FONTS != False %}
    {% if USE_GOOGLE_CDN_FOR_FONTS %}
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    {% elif USE_GOOGLE_CDN_FOR_FONTS == False %}
      {% if USE_CDN %}
        {% if USE_MINIFIED_FONT_CSS %}
        <link href="{{ CDN_STATIC_THEME_URL }}/stylesheet/source-code-pro.min.css" rel="stylesheet">
        <link href="{{ CDN_STATIC_THEME_URL }}/stylesheet/source-sans-pro.min.css" rel="stylesheet">
        {% else %}
        <link href="{{ CDN_STATIC_THEME_URL }}/stylesheet/source-code-pro.css" rel="stylesheet">
        <link href="{{ CDN_STATIC_THEME_URL }}/stylesheet/source-sans-pro.css" rel="stylesheet">
        {% endif %}
      {% else %}
        {% if USE_MINIFIED_FONT_CSS %}
        <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/stylesheet/source-code-pro.min.css" rel="stylesheet">
        <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/stylesheet/source-sans-pro.min.css" rel="stylesheet">
        {% else %}
        <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/stylesheet/source-code-pro.css" rel="stylesheet">
        <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/stylesheet/source-sans-pro.css" rel="stylesheet">
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}

  {% if USE_LESS %}
    {% if USE_CDN == True %}
    <link rel="stylesheet/less" type="text/css" href="{{ CDN_STATIC_THEME_URL }}/stylesheet/style.less">
    {% elif USE_CDN == False %}
    <link rel="stylesheet/less" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/stylesheet/style.less">
    {% endif %}
    <script src="//cdn.statically.io/libs/less.js/2.5.1/less.min.js" type="text/javascript"></script>
  {% else %}
    {% if USE_CDN == True %}
    <link rel="stylesheet" type="text/css" href="{{ CDN_STATIC_THEME_URL }}/stylesheet/style.min.css">
    {% elif USE_CDN == False %}
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/stylesheet/style.min.css">
    {% endif %}
  {% endif %}

  {% if USE_BOOTSTRAP %}
    <script src="https://cdn.statically.io/libs/jquery/3.4.1/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.statically.io/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.statically.io/gh/twbs/bootstrap/v4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {% endif %}
  {% if USE_CDN %}
    <link rel="stylesheet" type="text/css" href="{{ CDN_STATIC_THEME_URL }}/pygments/{{ PYGMENTS_STYLE|default('github') }}.min.css">
    <link rel="stylesheet" type="text/css" href="{{ CDN_STATIC_THEME_URL }}/font-awesome/css/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="{{ CDN_STATIC_THEME_URL }}/font-awesome/css/brands.css">
    <link rel="stylesheet" type="text/css" href="{{ CDN_STATIC_THEME_URL }}/font-awesome/css/solid.css">
  {% else %}
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/pygments/{{ PYGMENTS_STYLE|default('github') }}.min.css">
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/font-awesome/css/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/font-awesome/css/brands.css">
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/font-awesome/css/solid.css">
  {% endif %}
  {% if CUSTOM_CSS %}
    {% if USE_CDN != True %}
    <link href="{{ SITEURL }}/{{ CUSTOM_CSS }}" rel="stylesheet">
    {% else %}
    <link href="{{ CDN_STATIC_BLOG_URL }}/{{ CUSTOM_CSS }}" rel="stylesheet">
    {% endif %}
  {% endif %}
  {% if CUSTOM_JS %}
    {% if USE_CDN != True %}
    <script type="application/javascript" src="{{ SITEURL }}/{{ CUSTOM_JS }}"></script>
    {% else %}
    <script type="application/javascript" src="{{ CDN_STATIC_BLOG_URL }}/{{ CUSTOM_JS }}"></script>
    {% endif %}
  {% endif %}
  {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom">
  {% endif %}
  {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS">
  {% endif %}

  {% if FAVICON %}
    <link rel="shortcut icon" href="{{ FAVICON }}" type="image/x-icon">
    <link rel="icon" href="{{ FAVICON }}" type="image/x-icon">
  {% endif %}

  {% if GOOGLE_ANALYTICS %}
    {% include "partial/ga.html" %}
  {% endif %}

  {% if BROWSER_COLOR %}
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="{{ BROWSER_COLOR }}">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="{{ BROWSER_COLOR }}">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- Microsoft EDGE -->
    <meta name="msapplication-TileColor" content="{{ BROWSER_COLOR }}">
  {% endif %}

  {% block meta %}
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="description" content="{{ SITEDESCRIPTION }}" />
    {% include "partial/og.html" %}
  {% endblock %}

  <title>{% block title %}{% endblock %}{{ SITENAME }}</title>

  {% if GOOGLE_ADSENSE and GOOGLE_ADSENSE.page_level_ads %}
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "{{ GOOGLE_ADSENSE.ca_id }}",
      enable_page_level_ads: true
    });
  </script>
  {% endif %}
  {% if GOOGLE_TAG_MANAGER %}
    {% include "partial/gtm.html" %}
  {% endif %}
</head>
<body>
  {% if GOOGLE_TAG_MANAGER %}
    {% include "partial/gtm_noscript.html" %}
  {% endif %}
  <aside>
    <div>
      <a href="{{ SITEURL }}">
        {% if SITELOGO and AVATAR_URL is not defined %}
        <img src="{{ SITELOGO }}"{% if SITELOGO_HEIGHT %} height="{{ SITELOGO_HEIGHT }}"{% endif %}{% if SITELOGO_WIDTH %} width="{{ SITELOGO_WIDTH }}"{% endif %} alt="{{ SITETITLE }}" title="{{ SITETITLE }}">
        {% elif AVATAR_URL is defined %}
        <img src="{{ AVATAR_URL }}"{% if AVATAR_HEIGHT %} height="{{ AVATAR_HEIGHT }}"{% endif %}{% if AVATAR_WIDTH %} width="{{ AVATAR_WIDTH }}"{% endif %} alt="{{ SITETITLE }}" title="{{ SITETITLE }}">
        {% else %}
          {% if USE_CDN == True %}
          <img src="{{ CDN_STATIC_THEME_URL }}/img/profile.png" alt="{{ SITETITLE }}" title="{{ SITETITLE }}">
          {% elif USE_CDN == False %}
          <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/profile.png" alt="{{ SITETITLE }}" title="{{ SITETITLE }}">
          {% endif %}
        {% endif %}
      </a>
      <h1><a href="{{ SITEURL }}">{{ SITETITLE }}</a></h1>

      {% if SITESUBTITLE %}<p>{{ SITESUBTITLE }}</p>{% endif %}

      {% if SEARCHBOX_ON_SIDEBAR %}
      {% if GOOGLE_SEARCH.activate == True and GOOGLE_SEARCH.partner_id %}
      <ul class="searchbox">
        <form role="search" class="search-query" name="search" action="{{ SITEURL }}/search">
          <input type="text" name="q" class="search-input" placeholder="Telusuri dengan Google&trade;" required /> &nbsp;
          <button class="btn btn-default btn-search" type="submit"><i class="fa fa-search fa-fw"></i></button>
          <input type="hidden" name="cx" value="{{ GOOGLE_SEARCH.partner_id }}" />
          <input type="hidden" name="ie" value="UTF-8" />
         </form>
      </ul>
      {% endif %}
      {% endif %}

      {% if pages or LINKS %}
      <nav>
        <ul class="list">
          {% if PAGES_SORT_ATTRIBUTE -%}
            {% set pages = pages|sort(attribute=PAGES_SORT_ATTRIBUTE) %}
          {%- endif %}
          {% if DISPLAY_PAGES_ON_MENU %}
          {# Open links in new window depending on the LINKS_IN_NEW_TAB setting #}
          {% macro get_target(link) -%}
            {%- if LINKS_IN_NEW_TAB is not defined -%}
            _blank
            {%- elif LINKS_IN_NEW_TAB in ('all', none, true) -%}
            _blank
            {%- elif LINKS_IN_NEW_TAB == "external" and not link.startswith("/") and not link.startswith(SITEURL) -%}
            _blank
            {%- else -%}
            _self
            {%- endif -%}
          {%- endmacro %}
          {% for page in pages %}
          <li><a href="{{ SITEURL }}/{{ page.url }}{% if not DISABLE_URL_HASH %}#{{ page.slug }}{% endif %}" target="{{ get_target(SITEURL) }}">{{ page.title }}</a></li>
          {% endfor %}
          {% endif %}

          {% for name, link in LINKS %}
          <li><a href="{{ link }}" target="{{ get_target(link) }}">{{ name }}</a></li>
          {% endfor %}
        </ul>
      </nav>
      {% endif %}

      <ul class="social">
        {% for name, link in SOCIAL %}
          <li>
            <a {% if name == 'mastodon' %}rel="me"{% endif %} class="sc-{{ name }}" href="{{ link }}" target="_blank">
            <i class="{% if name in ['envelope', 'rss'] %}fas{% else %}fab{% endif %} fa-{{ name }}">
            </i>
          </a></li>
        {% endfor %}
      </ul>
    </div>

    {% if GOOGLE_ADSENSE and GOOGLE_ADSENSE.ads.aside %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle ads-responsive"
         data-ad-client="{{ GOOGLE_ADSENSE.ca_id }}"
         {% if GOOGLE_ADSENSE.ads.aside.ad_layout %}
         data-ad-layout="{{ GOOGLE_ADSENSE.ads.aside.ad_layout }}"
         {% endif %}
         {% if GOOGLE_ADSENSE.ads.aside.ad_layout_key %}
         data-ad-layout-key="{{ GOOGLE_ADSENSE.ads.aside.ad_layout_key }}"
         {% endif %}
         {% if GOOGLE_ADSENSE.ads.aside.ad_format %}
         data-ad-format="{{ GOOGLE_ADSENSE.ads.aside.ad_format }}"
         {% endif %}
         {% if GOOGLE_ADSENSE.ads.aside.full_width_responsive %}
         data-full-width-responsive="{{ GOOGLE_ADSENSE.ads.aside.full_width_responsive | lower }}"
         {% endif %}
         data-ad-slot="{{ GOOGLE_ADSENSE.ads.aside.slot_id }}">   
    </ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  {% endif %}

  </aside>
  <main>
    {% if GOOGLE_ADSENSE and GOOGLE_ADSENSE.ads.main_menu %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle ads-responsive"
         data-ad-client="{{ GOOGLE_ADSENSE.ca_id }}"
         {% if GOOGLE_ADSENSE.ads.main_menu.ad_layout %}
         data-ad-layout="{{ GOOGLE_ADSENSE.ads.main_menu.ad_layout }}"
         {% endif %}
         {% if GOOGLE_ADSENSE.ads.main_menu.ad_layout_key %}
         data-ad-layout-key="{{ GOOGLE_ADSENSE.ads.main_menu.ad_layout_key }}"
         {% endif %}
         {% if GOOGLE_ADSENSE.ads.main_menu.ad_format %}
         data-ad-format="{{ GOOGLE_ADSENSE.ads.main_menu.ad_format }}"
         {% endif %}
         {% if GOOGLE_ADSENSE.ads.main_menu.full_width_responsive %}
         data-full-width-responsive="{{ GOOGLE_ADSENSE.ads.main_menu.full_width_responsive | lower }}"
         {% endif %}
         data-ad-slot="{{ GOOGLE_ADSENSE.ads.main_menu.slot_id }}">   
    </ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  {% endif %}
  {% if DARK_MODE == True %}
  <div id="div-darkmode">
    <div id="div-darkmode-text">Mode Gelap: &nbsp;</div>
      <label id="switch" class="switch">
        <input type="checkbox" onchange="toggleTheme()" id="slider">
        <span class="slider round"></span>
      </label>
  </div> 
  {% endif %}
  {% if MAIN_MENU %}
  <nav>
    <a href="{{ SITEURL }}">{{ _('Beranda') }}</a>
    {% for title, link in MENUITEMS %}
    <a href="{{ link }}">{{ title }}</a>
    {% endfor %}
    {% if FEED_ALL_ATOM %}
    <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}">{{ _('Atom') }}</a>
    {% endif %}
    {% if FEED_ALL_RSS %}
    <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}">{{ _('RSS') }}</a>
    {% endif %}
  </nav>
  {% endif %}
  {% if GOOGLE_SEARCH.activate == True and GOOGLE_SEARCH.partner_id %}
  {% if SEARCHBOX_ON_HEADER == True %}
  <nav>
    {% if GOOGLE_SEARCH.options.using_google_searchbox != True %}
    <form role="search" class="search-query" name="search" action="{{ SITEURL }}/search">
      <input type="text" name="q" class="search-input" placeholder="Telusuri dengan Google&trade;" required /> &nbsp;
      <button class="btn btn-default btn-search" type="submit"><i class="fa fa-search fa-fw"></i></button>
      <input type="hidden" name="cx" value="{{ GOOGLE_SEARCH.partner_id }}" />
      <input type="hidden" name="ie" value="UTF-8" />
     </form>
     {% else %}
      <div class="google-cse-search-box">
       <script async src="https://cse.google.com/cse.js?cx={{ GOOGLE_SEARCH.partner_id }}"></script>
       <div class="gcse-searchbox-only"></div>
      </div>
     {% endif %}
  </nav>
  {% endif %}
  {% endif %}

    {% block content %}
    {% endblock %}

    <footer>
      {% if CC_LICENSE %}
        {% include "partial/cc_license.html" %}
      {% else %}
        {% include "partial/copyright.html" %}
      {% endif %}
      {% if SHOW_LAST_COMMIT == True %}
        {% include "partial/last_commit.html" %}
      {% endif %}
    </footer>
  </main>

  {% if GUAGES %}
    {% include "partial/guages.html" %}
  {% endif %}

  {% block addthis %}
  {% if ADD_THIS is defined and ADD_THIS.activate == True and ADD_THIS.id and ADD_THIS.options.scripts_position.EntireWeb == True %}
    <script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid={{ ADD_THIS.id }}" async="async"></script>
  {% endif %}
  {% endblock %}

  {% if (PIWIK_URL and PIWIK_SITE_ID) or (MATOMO_URL and MATOMO_SITE_ID) %}
    {% include "partial/matomo.html" %}
  {% endif %}

  {% include "partial/jsonld.html" %}

  {% block additional_js %}{% endblock %}

  {% if GITHUB_CORNER_URL %}
  {% include 'partial/github.html' %}
  {% endif %}
  {% if DARK_MODE == True %}
    {% if USE_CDN != True %}
      {% if USE_MINIFIED_SCRIPTS == True %}
      <script type="application/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/scripts/dark_mode.min.js"></script>
      {% else %}
      <script type="application/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/scripts/dark_mode.js"></script>
      {% endif %}
    {% else %}
      {% if USE_MINIFIED_SCRIPTS == True %}
      <script type="application/javascript" src="{{ CDN_STATIC_THEME_URL }}/scripts/dark_mode.min.js"></script>
      {% else %}
      <script type="application/javascript" src="{{ CDN_STATIC_THEME_URL }}/scripts/dark_mode.js"></script>
      {% endif %}
    {% endif %}
  {% endif %}
  {% if LAZYLOAD_IMAGES == True %}
    {% if USE_CDN != True %}
      {% if USE_MINIFIED_SCRIPTS == True %}
      <script type="application/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/scripts/lazyload.min.js"></script>
      {% else %}
      <script type="application/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/scripts/lazyload.js"></script>
      {% endif %}
    {% else %}
      {% if USE_MINIFIED_SCRIPTS == True %}
      <script type="application/javascript" src="{{ CDN_STATIC_THEME_URL }}/scripts/lazyload.min.js"></script>
      {% else %}
      <script type="application/javascript" src="{{ CDN_STATIC_THEME_URL }}/scripts/lazyload.js"></script>
      {% endif %}
    {% endif %}
  {% endif %}
  {% if DISQUS_LAZYLOAD == True %}
    {% if USE_CDN != True %}
      {% if USE_MINIFIED_SCRIPTS == True %}
      <script type="application/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/scripts/disqus_lazyload.min.js"></script>
      {% else %}
      <script type="application/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/scripts/disqus_lazyload.js"></script>
      {% endif %}
    {% else %}
      {% if USE_MINIFIED_SCRIPTS == True %}
      <script type="application/javascript" src="{{ CDN_STATIC_THEME_URL }}/scripts/disqus_lazyload.min.js"></script>
      {% else %}
      <script type="application/javascript" src="{{ CDN_STATIC_THEME_URL }}/scripts/disqus_lazyload.js"></script>
      {% endif %}
    {% endif %}
  {% endif %}
</body>
</html>
