<p>
  Hak Cipta &copy; {{ COPYRIGHT_YEAR }} {{ COPYRIGHT_NAME }} - Semua konten di dalam blog ini (kecuali jika di nyatakan <a href="{{ SITEURL }}/ketentuan-hukum-dan-sanggahan">sebaliknya</a>), di lisensi kan di bawah Lisensi "<a rel="license" href="https://creativecommons.org/licenses/{{ CC_LICENSE['slug'] }}/{{ CC_LICENSE['version'] }}/">{{ CC_LICENSE['name'] }} {{ CC_LICENSE['version'] }}</a>"
</p>
<p>
  Kode Sumber untuk blog ini telah tersedia <a href="{{ REPO_URL }}">disini</a>, dan di lisensi kan di bawah Lisensi "<a href="{{ REPO_URL }}/blob/master/LICENSE">GNU Affero General Public License v3 (AGPLv3)</a>". Selengkap nya, lihat/baca laman <a href="{{ SITEURL }}/lisensi">Lisensi</a> dan <a href="{{ SITEURL }}/kode-sumber">Kode Sumber</a>.
</p>
{% include "partial/flex.html" %}
<p>
  <a rel="license"
     href="https://creativecommons.org/licenses/{{ CC_LICENSE['slug'] }}/{{ CC_LICENSE['version'] }}/"
     target="_blank">
    <img alt="Creative Commons License"
         title="Creative Commons License"
         style="border-width:0"
         {% if CC_LICENSE['distribution-type'] == 'local' %}
           src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/cc/{{ CC_LICENSE['slug'] }}.png"
         {% elif CC_LICENSE['distribution-type'] == 'cdn' %}
           src="{{ CDN_STATIC_THEME_URL }}/img/cc/{{ CC_LICENSE['slug'] }}.png"
         {% elif CC_LICENSE['distribution-type'] == 'custom' %}
           src="{{ CC_LICENSE['custom-url'] }}/{{ CC_LICENSE['slug'] }}.png"
         {% else %}
           src="https://i.creativecommons.org/l/{{ CC_LICENSE['slug'] }}/{{ CC_LICENSE['version'] }}/80x15.png"
         {% endif %}
         width="80"
         height="15"/>
  </a>
  {% if STATUSCAKE %}
    {% include "partial/statuscake.html" %}
  {% endif %}
</p>
