{% if DISQUS_SITENAME %}
<!-- Disqus -->
{% if DISQUS_LAZYLOAD == True %}
<div id="disqus_thread"></div>
  <a href="#disqus_thread" style="display: block; margin: 0 auto;" class="btn" id="disqus_trigger" onclick="load_disqus('{{ DISQUS_SITENAME }}')">{{ _('Pos sebuah Komentar') }}</a>
</div>
<noscript>
    {{ _('Mohon Aktifkan JavaScript terlebih dahulu pada Peramban Web Anda sebelum berkomentar.') }}
</noscript>
{% else %}
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = '{{ DISQUS_SITENAME }}';
    {% if article.url %}
    var disqus_url = '{{ SITEURL }}/{{ article.url }}';
    {% elif page.url %}
    var disqus_url = '{{ SITEURL }}/{{ page.url }}';
    {% endif %}
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>
    {{ _('Mohon Aktifkan JavaScript terlebih dahulu pada Peramban Web Anda sebelum berkomentar.') }}
</noscript>
{% endif %}
<!-- End Disqus -->
{% endif %}
