<p>{{ _('Blog ini di bangun dengan %(pelican_url)s dan menggunakan tema yang merupakan versi %(modified_flex_url)s dari %(flex_url)s yang di buat oleh %(alexandrevicenzi_url)s',
  pelican_url='<a href="https://blog.getpelican.com" target="_blank">Pelican</a>',
  modified_flex_url='<a href="https://github.com/FarrelF/Modified-Flex" target="_blank">modifikasi</a>'|safe,
  flex_url='<a href="https://github.com/alexandrevicenzi/flex" target="_blank">Flex</a>'|safe,
  alexandrevicenzi_url='<a href="https://www.alexandrevicenzi.com" target="_blank">Alexandre Vicenzi</a>'|safe) }}</p>
